@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

:root {
  --gray: #828282;
  --violet: #282051;
  --light-gray: #BDBDBD;
  /* button color  */
  --blue: #2F80ED;
  /* link tags color  */
  --blue-light: #2D9CDB;

  /* header links  */
  --link-gray: #4F4F4F;
  --red: #EB5757;

  /* text color  */
  --dark-white: #E0E0E0;
  /*dark theme background and text color*/
  --light-black: #333333;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--light-black);
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  color: var(--gray)
}

a {
  color: var(--blue-light);
  text-decoration: none;
}

form .btn {
  background: var(--blue);
  color: #fff;
  font-weight: 600;
}

form .btn:hover {
  color: #fff;
}