@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

:root {
  --gray: #BDBDBD;
  --violet: #282051;
  --light-gray: #828282;
  /* button color  */
  --blue: #2F80ED;
  /* link tags color  */
  --blue-light: #2D9CDB;

  /* text color  */
  --dark-white: #E0E0E0;
  /*dark theme background and text color*/
  --light-black: #333333;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--light-black);
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  color: var(--light-gray)
}

a {
  color: var(--blue-light);
}