.container-fluid {
  padding: 1rem 5vw;
}

nav .profile {
  margin-right: 1rem;
}

nav .profile img {
  margin-right: 1rem;
}

.dropdown-menu[data-bs-popper] {
  left: -6rem;
  top: 3rem;
  padding: 1rem;

  border-radius: 1rem;
}

.dropdown-item {
  color: var(--link-gray);
}

.dropdown-item svg {
  margin-right: 1rem;
}

.dropdown-item.logout-item {
  color: var(--red);
}